@using Microsoft.AspNetCore.Identity
@model List<ZhPractice.Models.Module.Module>


@{
    ViewData["title"] = "Practice";
}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if(Model != null)
{
    <div class="row">
        @foreach(var modules in Model)
        {
            <div class="col-sm-6 mb-3">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@modules.Name</h5>
                        <p class="card-text">
                            @modules.Description
                        </p>
                        <a href="@modules.Name" class="btn btn-primary">Tovább a tesztre</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Nincs gyakorolni való Modul</h1>
    </div>
}