@using Microsoft.AspNetCore.Identity
@model List<ZhPractice.Models.Question.Question.Question>

@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center text-white">
        <h1 class="display-4 fw-bold">Sikeres bejelentkezés!</h1>
        <h3 class="display-4 fw-bold">Menj a modulokra!</h3>
    </div>
    
}
else {
<div class="text-center text-white">
    <h1 class="display-4 fw-bold">Üdvözöllek a Zh gyakorlás oldalon</h1>
        <h3 class="display-4 fw-bold">A kezdéshez regisztrálj!</h3>
</div>
}
